{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <h1 class="govuk-heading-l">
      I'm a heading 1, displayed large
    </h1>

    <p class="govuk-body">I'm a paragraph - another content element.</p>

    <p class="govuk-body"></p>Content design isn't just about writing. It's about making sure people can find what they need quickly.</p>

    <p class="govuk-body">It's about structuring content to work well and meeting the needs of the people using it.</p>

    <p class="govuk-body">Writing without thinking about how people read online doesn't help users.</p>

<p>HTML elements consist of
tags and content</p>


    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend">
          Can I get your input?
        </legend>
    
        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="whereDoYouLive" name="whereDoYouLive" type="radio" value="england">
            <label class="govuk-label govuk-radios__label" for="whereDoYouLive">
              Yes
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="whereDoYouLive-2" name="whereDoYouLive" type="radio" value="scotland">
            <label class="govuk-label govuk-radios__label" for="whereDoYouLive-2">
              No
            </label>
          </div>
        </div>
      </fieldset>
    </div>
  </div>
</div>

{% endblock %}
