{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/path/of/next/page" method="post">

        {% from "govuk/components/radios/macro.njk" import govukRadios %}

        {{ govukRadios({
          name: "signIn",
          fieldset: {
            legend: {
              text: "Do you prefer Nunjucks or HTML?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "Tell us which you prefer so we can send you the right training."
          },
          items: [
            {
              value: "government-gateway",
              text: "HTML",
              hint: {
                text: "Select HTML if you like full control over your page"
              }
            },
            {
              value: "govuk-one-login",
              text: "Nunjucks",
              hint: {
                text: "Select Nunjucks if you prefer speed over customisation"
              }
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
